# data types

*.csv
*.parquet
*.xlsx
*.npy
*.pkl
*.gds

# gds and log

*.log

# ignore pictures
*.png
*.jpeg
*.jpg

# ignore output files
*.out

# ignore venv
*.venv

# ignore vscode files
*.vscode

# ignore MPS data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ignore profiling
*.prof

# ignore all data directories anywhere
**/data/**

